@media only screen and (min-width:576px) and (max-width:991px){
    .right-left{
        margin-right:10px !important;
        margin-left:40px !important;
     }
     .secondHeader{
         margin-top:50px !important;
     }
}
@media only screen and (min-width:426px) and (max-width:575px){
    hr{
        display: block !important;
    }
    .myText{
        text-align:center !important;
    }
    .bottom{
        border-bottom:solid 1px lightgray;
        padding-top:10px !important;
    }
    .lastBottom{
        padding-top:10px !important;
    }
    .right-left{
       margin-right:10px !important;
       margin-left:10px !important;
    }
    .right{
        margin:0px !important;
    }

}
@media only screen and (min-width:320px) and (max-width:425px){

    h1{
        font-size:24px !important;
    }
    .left{
        margin-top:159px !important;
        width:100% !important;
        margin-right:0px !important;
    }
    .right{
        margin-right:0px !important;
    }
    hr{
        display: block !important;
    }
    .myText{
        text-align:center !important;
    }
    .bottom{
        border-bottom:solid 1px lightgray;
        padding-top:10px !important;
    }
    .lastBottom{
        padding-top:10px !important;
    }
    .right-left{
       margin-right:10px !important;
       margin-left:10px !important;
    }
    .secondHeader{
        bottom:72px !important;
    }
    .third{
        font-size:12px !important;
    }
    .price_color{
        color:rgba(43,156,118,1);
        font-size:15px !important;
    }
    .font-small{
        font-size:10px !important;
    }
    .hashRate{
        font-size:11px !important;
    }
    .hashRateEng{
        top:19px;
    }
}
