body{
    background-color: white !important;
    height:800px;
    font-family: IRANSans !important;
}
.left{
    border:solid 1px rgba(254, 254, 254, 1);
    height:300px;
    margin-top:159px;
    width:60%;
    margin-right:17px;
    /* margin-left:5%; */
}
.hashRateEng {
    text-align: left;
    margin-left: 6%;
    position: relative;
    top: 22px;
}
.hashRate{
    text-align:right;
    margin-right:6%;
}
.powerEng{
    margin-left:6%;
    position: relative;
    top:16px;
}
.powerFa{
   margin-right:6%;
}
.costEng{
    margin-left:6%;
    position: relative;
    top:20px;
}
.costFa{
    margin-right:6%;
    position: relative;
    bottom:13px;
}
.poolEng{
   margin-left:6%;
   position: relative;
   top:17px;
}
.pos-1{
    position: relative;
    bottom:37px;
}
.poolFa{
  margin-right:6%;
  position: relative;
  bottom:12px;
}
.pos{
    position: relative;
    bottom:20px;
}
.margin-auto{
    margin:auto;
}
.right{
    background-color:rgba(254, 254, 254, 1);
    /* margin-left:5%; */
    padding:0px !important;
    border:solid 1px lightgray;
    margin-right:25px;
    height:463px;
}
.dir-rtl{
    direction:rtl !important;
}
.secondHeader{
    position: relative;
    bottom:140px;

}
.font{
    font-size:65%;
}
input{
    width:80%;
    height:30px !important;
}
.right-header{
    background:white;
    height:15%;
}
.right-header-2{
    background:rgba(238, 238, 238, 1);
    height:7%;
}
.right-body{
    background-color:rgba(245,245,245,1);
    height:78%;
    text-align:center;
    direction:ltr !important;
}
.bs-caret{
    /* display:none !important; */
    color:rgba(29,126,105,1) !important;
}
button.btn.dropdown-toggle.btn-default::after{
    display:none !important;
}
.width-90{
    width:90% !important;
}
.x{
    position: relative;
    bottom:14px;
}
.input-group-width{
    width:80%;
    margin:auto;
}
.display-none{
    display: none;
}
.inpGroupTxt{
    background-color:rgba(238,238,238,1);
}
.left-1{
    height:45px;
    background:white;
    margin-top:1%;
    direction:ltr !important;
}
.first{
    width:33.3%;
    background:rgba(245,245,245,1);
}
.second{
    width:33.3%;
    background:rgba(245,245,245,1);
}
.third{
    width:33.3%;
    border-left:solid 1px white;
    background-color:rgba(232,232,232,1);
}
.bottom{
    height:200px !important;
}
.lastBottom{
    height:200px !important;

}
.myText{
    text-align:right;
}
.price_color{
    color:rgba(43,156,118,1);
    font-size:25px;
}
.price{
    font-size:13px;
}
.dir_rtl{
    direction:rtl;
}
.colorLightGray{
    color:#b5b0b0;
}
.font-small{
    font-size:12px;
}
.font-10{
    font-size:12px;
}
